#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#include "helpers.h"

// Left bottom row pinky 2nd column
#ifndef LB5
#define LB5 24
#endif

// Right bottom row pinky 2nd column
#ifndef RB5
#define RB5 35
#endif

#define DEF 0
#define SYM 1
#define NUM 2
#define ADJ 3


#define QUICK_TAP_MS 175


&sk {
  release-after-ms = <600>;
  quick-release;
};

/ {
  conditional_layers {
    compatible = "zmk,conditional-layers";
    tri_layer {
      if-layers = <SYM NUM>;
      then-layer = <ADJ>;
    };
  };

  combos {
    compatible = "zmk,combos";
    caps {
      timeout-ms = <50>;
      key-positions = <LB5 RB5>;
      bindings = <&caps_word>;
    };
  };

  behaviors {
        tab_esc: tab_esc_td {
        compatible = "zmk,behavior-tap-dance";
        label = "TAB_ESC_TAP_DANCE";
        #binding-cells = <0>;
        tapping-term-ms = <200>;
        bindings = <&kp TAB>, <&kp ESC>;
    };
  lt_qk: layer_toggle_quick {
      compatible = "zmk,behavior-hold-tap";
      label = "LAYER_TOGGLE_QUICK";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <150>;
      quick-tap-ms = <QUICK_TAP_MS>;
      bindings = <&mo>, <&kp>;
    };
    mt_sk: mod_tap_sticky {
      compatible = "zmk,behavior-hold-tap";
      label = "MOD_TAP_STICKY";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <150>;
      quick-tap-ms = <200>;
      bindings = <&sk>, <&kp>;
    };
    ht: hold_tap {
      compatible = "zmk,behavior-hold-tap";
      label = "HOLD_TAP";
      #binding-cells = <2>;
      tapping_term_ms = <200>;
      quick_tap_ms = <200>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
  };

  keymap {
    compatible = "zmk,keymap";
    default_layer {
      label = "DEFAULT";
      bindings = <
      // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                      ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬────────────╮
             &tab_esc       &kp Q         &kp W         &kp E         &kp R        &kp T                                                   &kp Y         &kp U         &kp I         &kp O        &kp P       &kp BSPC    
      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                      ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┤
           &kp LSHIFT       &kp A          &kp S         &kp D         &kp F        &kp G                                                 &kp H         &kp J         &kp K         &kp L        &kp SEMI    &kp SQT    
      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ╭─────────────╮     ╭─────────────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┤
           &kp LCTRL      &kp Z            &kp X         &kp C         &kp V        &kp B                                                 &kp N         &kp M       &kp COMMA      &kp DOT      &kp FSLH    &kp DEL  
                                                                                                  &kp C_MUTE           &kp C_PP                                                                                         
      // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ╰─────────────╯     ╰─────────────╯ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴────────────╯
                                         &kp LALT      &lt SYM      &kp ENTER      &kp PIPE                                           &kp K_APP        &kp SPACE       &lt SYM      &kp RGUI
      //                             ╰─────────────┴─────────────┴─────────────┴─────────────╯                                      ╰─────────────┴─────────────┴─────────────┴─────────────╯
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
    };
    sym_layer {
      label = "SYMBOLS";
      bindings = <
      // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                      ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬────────────╮
             &tab_esc       &kp EXCL      &kp AT        &kp HASH      &kp DLLR     &kp PRCNT                                             &kp CARET     &kp AMPS      &kp STAR      &kp LPAR      &kp RPAR    &kp BSPC  
      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                      ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┤
            &kp LSHIFT    &kp N1          &kp N2         &kp N3       &kp N4        &kp N5                                                 &kp N6      &kp N7         &kp N8         &kp N9      &kp N0    &kp GRAVE  
      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ╭─────────────╮     ╭─────────────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┤
             &kp LCTRL     &kp F1         &kp F2         &kp F3       &kp F4       &kp F5                                               &kp F6           &kp F7      &kp F8       &kp F9         &kp F10     &kp DEL
                                                                                                    &kp CAPS          &kp LNLCK                                                                                        
      // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ╰─────────────╯     ╰─────────────╯ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴────────────╯
                                          &kp LALT          ___    &kp ENTER         &kp LBRC                                             &kp RBRC     &kp SPACE         ___        &kp RGUI        
      //                             ╰─────────────┴─────────────┴─────────────┴─────────────╯                                      ╰─────────────┴─────────────┴─────────────┴─────────────╯
      >;
      sensor-bindings = <&inc_dec_kp C_NEXT C_PREV &inc_dec_kp F18 F17>;
    };
    num_layer {
      label = "NUMBERS";
      bindings = <
      // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                      ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬────────────╮
           &tab_esc     &kp KP_SLASH      &kp N7      &kp N8         &kp N9     &kp KP_MINUS                                           &ht F6 N6       &ht F7 N7   &ht F8 N8       &kp N9     &kp N0       &kp BSPC
      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                      ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┤
          &kp LSHIFT   &kp KP_MULTIPLY   &kp N4         &kp N5      &kp N6      &kp KP_PLUS                                              &kp HOME       &kp PG_UP    &kp UP       &kp PG_DN   &kp EQUAL      &kp GRAVE 
      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ╭─────────────╮     ╭─────────────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┤
           &kp LCTRL        &KP N0        &kp N1       &kp N2          &kp N3     &kp KP_DOT                                            &kp END      &kp LEFT     &kp DOWN        &kp RIGHT    &kp MINUS     &kp DEL  
                                                                                                      ___                ___                                                                                          
      // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ╰─────────────╯     ╰─────────────╯ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴────────────╯
                                          &kp LALT          ___    &kp ENTER         &kp LBRC                                             &kp RBRC     &kp SPACE         ___        &kp RGUI    
      //                             ╰─────────────┴─────────────┴─────────────┴─────────────╯                                      ╰─────────────┴─────────────┴─────────────┴─────────────╯
      >;
      sensor-bindings = <&inc_dec_kp F15 F14 &inc_dec_kp PG_UP PG_DN>;
    };
    adj_layer {
      label = "ADJUST";
      bindings = <
      // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                      ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬────────────╮
           &bootloader &rgb_ug RGB_TOG &rgb_ug RGB_HUI &rgb_ug RGB_SAI &rgb_ug RGB_BRI &rgb_ug RGB_SPI                               &out OUT_TOG       ___           ___           ___          ___        &bootloader
      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                      ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┤
           &sys_reset  &rgb_ug RGB_EFF &rgb_ug RGB_HUD &rgb_ug RGB_SAD &rgb_ug RGB_BRD &rgb_ug RGB_SPD                                     ___          ___           ___           ___          ___         &sys_reset
      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ╭─────────────╮     ╭─────────────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┤
           &bt BT_CLR  &bt BT_SEL 0    &bt BT_SEL 1 &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                                               ___          ___           ___           ___          ___          ___
                                                                                                     ___                ___                                                                                    
      // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤  ╰─────────────╯     ╰─────────────╯ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴────────────╯
                                   &ext_power EP_TOG     ___           ___           ___                                                   ___          ___           ___           ___           
      //                             ╰─────────────┴─────────────┴─────────────┴─────────────╯                                      ╰─────────────┴─────────────┴─────────────┴─────────────╯
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
    };
  };
};

